<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wasfat">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".base.WasFatApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeOld">
        <activity android:name=".ui.activity.buyAndSell.landscapeAndGardening.DetailsLandscapeActivity"></activity>
        <activity android:name=".ui.activity.buyAndSell.landscapeAndGardening.EditLandscapeActivity" />
        <activity android:name=".ui.activity.buyAndSell.landscapeAndGardening.AddLandscapeActivity" />
        <activity android:name=".ui.activity.buyAndSell.landscapeAndGardening.LandscapeActivity" />
        <activity android:name=".ui.activity.buyAndSell.landscapeAndGardening.LandscapeCategory2Activity" />
        <activity android:name=".ui.activity.buyAndSell.landscapeAndGardening.LandscapeCategory1Activity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndAlliedServices.DetailsAlliedServicesActivity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndAlliedServices.EditAlliedServicesActivity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndAlliedServices.AddAlliedServicesActivity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndAlliedServices.AlliedServicesActivity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndAlliedServices.AlliedServicesCategory2Activity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndAlliedServices.AlliedServicesCategory1Activity" />
        <activity android:name=".ui.activity.knowledgecenter.KnowledgeCenterDetailsActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.shareideas.UploadIdeasActivity" />
        <activity android:name=".ui.activity.buyAndSell.farmtourism.DetailsFarmTourismActivity" />
        <activity android:name=".ui.activity.buyAndSell.farmtourism.EditFarmActivity" />
        <activity android:name=".ui.activity.buyAndSell.farmtourism.FarmTourismActivity" />
        <activity android:name=".ui.activity.buyAndSell.farmtourism.AddFarmTourismActivity" />
        <activity android:name=".ui.activity.buyAndSell.agricultureAndFarming.EditAgricultureActivity" />
        <activity android:name=".ui.activity.knowledgecenter.KnowledgeCenterActivity" />
        <activity android:name=".ui.activity.buyAndSell.BuySearchActivity" />
        <activity android:name=".ui.activity.govtschemes.GovtSchemesActivity" />
        <activity android:name=".ui.activity.WebViewActivity" />
        <activity android:name=".ui.activity.event.EventActivity" />
        <activity android:name=".ui.activity.event.EventCategoryActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.activity.buyAndSell.farmtourism.LocationMapsActivity"
            android:label="@string/label_map" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.authentication.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.authentication.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.shareideas.ShareIdeaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.agricultureAndFarming.AgricultureCategory2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.agricultureAndFarming.AgricultureCategory3Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.SellActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.agricultureAndFarming.AgricultureCategory1Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.authentication.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.StaticPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.authentication.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.agricultureAndFarming.AgricultureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.agricultureAndFarming.DetailsAgricultureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.buyAndSell.BuyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOld.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>